@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 0%;
  --background-start-hsl: 214, 219, 220;
  --background-end-hsl: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 245, 92%, 95%;
    --background-start-hsl: 222, 20%, 10%;
    --background-end-hsl: 220, 12%, 5%;
  }
}

body {
  color: hsl(var(--foreground-hsl));
  background: linear-gradient(
      to bottom,
      transparent,
      hsl(var(--background-end-hsl))
    )
    hsl(var(--background-start-hsl));
}
